# Understanding chipotle data

---


### Step 1. Import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/Laxminarayen/Inceptez-batch-25-Classwork/refs/heads/main/Python-Class10-Pandas-Intermediate/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [ ]:
chipo = pd.read_csv("https://raw.githubusercontent.com/shans28/pandas-viz-stats-practice/refs/heads/main/data/chipotle.tsv", sep='\t')

### Step 4. See the first 10 entries

In [ ]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [ ]:
# Solution 1
chipo.shape[0]

4622

In [ ]:
# Solution 2
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [ ]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [ ]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [ ]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [ ]:
#chipo['item_name'].value_counts().head()

In [ ]:
chipo.groupby('item_name')['quantity'].sum().sort_values(ascending=False).sort_values(ascending=False).head(1)

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

### Step 10. For the most-ordered item, how many items were ordered?

In [ ]:
most_ordered=chipo.groupby('item_name')['quantity'].sum().sort_values(ascending=False).head(1)
most_ordered.loc[most_ordered.index[0]]

np.int64(761)

### Step 11. What was the most ordered item in the choice_description column?

---

In [ ]:
def clean_and_split_choice(description):
  if isinstance(description, str):
    cleaned_description = description.replace('[', '').replace(']', '')
    return [item.strip() for item in cleaned_description.split(', ') if item.strip()]
  else:
    return []

chipo['cleaned_choices'] = chipo['choice_description'].apply(clean_and_split_choice)
chipo.head()
all_individual_items = []
for choices_list in chipo['cleaned_choices']:
    all_individual_items.extend(choices_list)

item_counts = pd.Series(all_individual_items).value_counts()
display(item_counts.head())

Rice           2389
Cheese         2281
Lettuce        1742
Sour Cream     1711
Black Beans    1342
Name: count, dtype: int64

### Step 12. How many items were orderd in total?

In [ ]:
int(chipo['quantity'].sum())

4972

### Step 13. How much was the revenue for the period in the dataset?

In [ ]:
chipo['clean_item_price']=chipo.item_price.replace(regex=r'\$', value='').astype('float')
total_revenue=chipo['clean_item_price'].sum()
print(total_revenue)

34500.16

### Step 14. How many orders were made in the period?

In [ ]:
chipo.order_id.nunique()

1834

### Step 15. What is the average revenue amount per order?

---

In [ ]:
# Solution 1
float(chipo.groupby('order_id')['clean_item_price'].sum().mean())
#dftotal_revenue

18.811428571428568

In [ ]:
# Solution 2
float(total_revenue/chipo.order_id.nunique())

18.811428571428575

### Step 16. How many different items are sold?

In [ ]:
chipo.item_name.nunique()

50